[Unit]
Description=Run Daily Inflation Model Update at 6 AM UTC

[Timer]
OnCalendar=*-*-* 06:00:00 UTC
AccuracySec=1min
Persistent=true

[Install]
WantedBy=timers.target 